# Clue Riddle
____

One rainy evening, Mr. Body killed 5 people at Clue Mansion. The people killed were Mrs. White, Mr. Green, Professor Plum, Colonel Mustard, and Ms. Scarlet. The murders took place in the kitchen, billiards room, conservatory, hall, and library. No two people were murdered with the same weapon. The weapons were candlestick, rope, revolver, knife, and lead pipe. From the clues given, try to determine the room in which each person was killed and the weapon used.
1. The murder with the lead pipe was not done in the hall or the library.
2. Mr. Green was not murdered in the kitchen.
3. The rope was not the murder weapon used in the library.
4. Neither Mrs. White nor Ms. Scarlet were murdered with the candlestick, the revolver, or the lead pipe.
5. The person who was murdered in the billiards room had just finished having dinner with Ms. Scarlet, Mr. Green, the person done in with the candlestick, and the victim of the rope.
6. Neither Mr. Green nor Professor Plum were killed with the lead pipe, in the hall, or in the library.

In [1]:
# libraries
import pandas as pd
import numpy as np

In [2]:
# helper function
def make_scenarios(people, places, things):
    """return a data frame with a row for each possible murder scenario
    """
    scenarios = []
    for person in people:
        for place in places:
            for thing in things:
                scenarios.append([person,place,thing])
                
    data = pd.DataFrame(scenarios,columns = ['Person','Place','Thing'])
    return data

In [3]:
# generate data
people = ['white', 'green', 'plum', 'mustard', 'scarlet']
places = ['kitchen', 'billiards', 'conservatory', 'hall', 'library']
things = ['candlestick', 'rope', 'revolver', 'knife', 'pipe']

data = make_scenarios(people, places, things)
print(data.shape)
data.sample(15)

(125, 3)

      Person         Place        Thing
88   mustard  conservatory        knife
42     green          hall     revolver
3      white       kitchen        knife
15     white          hall  candlestick
48     green       library        knife
4      white       kitchen         pipe
118  scarlet          hall        knife
55      plum     billiards  candlestick
47     green       library     revolver
61      plum  conservatory         rope
11     white  conservatory         rope
43     green          hall        knife
86   mustard  conservatory         rope
16     white          hall         rope
30     green     billiards  candlestick

1. The murder with the lead pipe was not done in the hall or the library.
2. Mr. Green was not murdered in the kitchen.
3. The rope was not the murder weapon used in the library.
4. Neither Mrs. White nor Ms. Scarlet were murdered with the candlestick, the revolver, or the lead pipe.
5. The person who was murdered in the billiards room had just finished having dinner with Ms. Scarlet, Mr. Green, the person done in with the candlestick, and the victim of the rope.
6. Neither Mr. Green nor Professor Plum were killed with the lead pipe, in the hall, or in the library.

In [8]:
# conditions: (1 if scenario is possible, 0 otherwise)
data['cond_1'] = np.where((data['Thing'] == 'pipe') & (data['Place'].isin(['hall','library'])), 0, 1)
data['cond_2'] = np.where((data['Person'] == 'green') & (data['Place'] == 'kitchen'),0 ,1)
data['cond_3'] = np.where((data['Thing'] == 'rope') & (data['Place'] == 'library'), 0, 1)
data['cond_4'] = np.where(
    (data['Person'].isin(['white','scarlet'])) 
    & (data['Thing'].isin(['candlestick','revolver','pipe'])),
       0, 1)
data['cond_5'] = np.where(
    (data['Place'] == 'billiards')
    & ((data['Person'].isin(['green','scarlet'])) 
        |(data['Thing'].isin(['rope','candlestick'])) )
    ,0 ,1)
data['cond_6'] = np.where(
    (data['Person'].isin(['plum','green']))
    & (data['Thing'].isin(['pipe'])) | (data['Place'].isin(['hall','library'])),
    0, 1)

cond_list = ['cond_' + str(x) for x in range(1,7)]
data['valid'] = data[cond_list].sum(axis=1)

for col in cond_list:
    print(col, data.shape[0] - data[col].sum())

cond_1 10
cond_2 5
cond_3 5
cond_4 30
cond_5 16
cond_6 56

In [9]:
# preview the valid scenarios only
# data.head(15)
solved = data[
    (data['valid'] == 6)
    
]
print(solved.shape)
solved

(36, 10)

,Person,Place,Thing,cond_1,cond_2,cond_3,cond_4,cond_5,cond_6,valid
1,white,kitchen,rope,1,1,1,1,1,1,6
3,white,kitchen,knife,1,1,1,1,1,1,6
8,white,billiards,knife,1,1,1,1,1,1,6
11,white,conservatory,rope,1,1,1,1,1,1,6
13,white,conservatory,knife,1,1,1,1,1,1,6
35,green,conservatory,candlestick,1,1,1,1,1,1,6
36,green,conservatory,rope,1,1,1,1,1,1,6
37,green,conservatory,revolver,1,1,1,1,1,1,6
38,green,conservatory,knife,1,1,1,1,1,1,6
50,plum,kitchen,candlestick,1,1,1,1,1,1,6
51,plum,kitchen,rope,1,1,1,1,1,1,6
52,plum,kitchen,revolver,1,1,1,1,1,1,6
53,plum,kitchen,knife,1,1,1,1,1,1,6
57,plum,billiards,revolver,1,1,1,1,1,1,6
58,plum,billiards,knife,1,1,1,1,1,1,6
60,plum,conservatory,candlestick,1,1,1,1,1,1,6
61,plum,conservatory,rope,1,1,1,1,1,1,6
62,plum,conservatory,revolver,1,1,1,1,1,1,6
63,plum,conservatory,knife,1,1,1,1,1,1,6
75,mustard,kitchen,candlestick,1,1,1,1,1,1,6
76,mustard,kitchen,rope,1,1,1,1,1,1,6
77,mustard,kitchen,revolver,1,1,1,1,1,1,6
78,mustard,kitchen,knife,1,1,1,1,1,1,6
79,mustard,kitchen,pipe,1,1,1,1,1,1,6
82,mustard,billiards,revolver,1,1,1,1,1,1,6
83,mustard,billiards,knife,1,1,1,1,1,1,6
84,mustard,billiards,pipe,1,1,1,1,1,1,6
85,mustard,conservatory,candlestick,1,1,1,1,1,1,6
86,mustard,conservatory,rope,1,1,1,1,1,1,6
87,mustard,conservatory,revolver,1,1,1,1,1,1,6
88,mustard,conservatory,knife,1,1,1,1,1,1,6
89,mustard,conservatory,pipe,1,1,1,1,1,1,6
101,scarlet,kitchen,rope,1,1,1,1,1,1,6
103,scarlet,kitchen,knife,1,1,1,1,1,1,6
111,scarlet,conservatory,rope,1,1,1,1,1,1,6
113,scarlet,conservatory,knife,1,1,1,1,1,1,6

Ok, now comes the tricky part. We have 36 possible scenarios, and from here we need to solve down to the point where there is only 5 scenarios, each with a unique person, place, and thing.

In [14]:
solved.pivot_table(
    index = ['Person','Place'],
    values = ['valid'],
    aggfunc='count'
)

                      valid
Person  Place
green   conservatory      4
mustard billiards         3
        conservatory      5
        kitchen           5
plum    billiards         2
        conservatory      4
        kitchen           4
scarlet conservatory      2
        kitchen           2
white   billiards         1
        conservatory      2
        kitchen           2